doctype
html
  head
    title Three in row game!
    link(rel="stylesheet" type="text/css" href="css/style.css")
    script(type="text/javascript" src="libs.js")
    script(type="text/javascript" src="app.js")
  body
    script(type="text/template")
      h1 konjultsa
      |{{asdas}}