doctype
html
  head
    title Three in row game!
    link(rel="stylesheet" type="text/css" href="css/style.css")
    script(type="text/javascript" src="js/libs.js")
    script(type="text/javascript" src="js/templates.js")
    script(type="text/javascript" src="js/app.js")
    meta(charset="utf-8")
  body
    div#board