$side: 500px;
$cell: $side/8;
.gem {
    box-sizing: border-box;
    display: inline-block;
    width: $cell;
    height: $cell;
    position: absolute;
    transition: top 250ms, left 250ms;
    opacity: 1;
    &::after {
        font-size: 46px;
        line-height: $cell;
        text-align: center;
        width: $cell;
        height: $cell;
        display: inline-block;
    }
    &:focus {
        border: 4px dashed orange;
    }
    &:focus::after {
        width: $cell - 8px;
        line-height: $cell - 8px;
    }
    &.gap {
            background: black;
            transition: background 250ms;
    }
}
.amber   { &::after { content:"A"; } background: yellow; }
.amethyst{ &::after { content:"M"; } background: fuchsia; }
.diamond { &::after { content:"D"; } background: white; }
.emerald { &::after { content:"E"; } background: lime; }
.ruby    { &::after { content:"R"; } background: red; }
.sapphire{ &::after { content:"S"; } background: blue; }
.topaz   { &::after { content:"T"; } background: aqua; }
h1 {
    margin-right: auto;
    margin-left: auto;
    width: $side;
}
#board {
    position: relative;
    width: $side;
    height: $side;
    margin: 0 auto;
    overflow: hidden;
    background: black;
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
#overlay {
    width: $side;
    height: $side;
    margin-left: -250px;
    left: 50%;
    position: absolute;
    z-index: 1;
}
.hidden {
    display: none;
}
@for $x from 0 through 7 {
    @for $y from 0 through 15 {
        .col-#{$x}.row-#{$y} {
            top: $side - $cell*($y+1);
            left: $cell*$x;
        }
    }
}